#about{
    padding: 2%;
}

#about h1{
    position: relative;
    text-align: left;
    font-size: 4vw;
    margin-right: 25%;
    margin-left: 10%;
    color: #6a8dff;
    mix-blend-mode: multiply;
    font-family: Roboto Mono;
}

.bio-header{
    font-family: Roboto Mono;
    font-style: bold;
    font-weight: 650;
}

#about p{
    font-size: 1.3vw;
    margin-left: 25%;
    margin-right:10%;
    margin-top: 15%;
    color: #6F73E1;
    line-height: 1.8vw;
    
}

#author-img {
    width: 40vw;
    margin-top: -38%;
    z-index: -1;
    margin-left: 25%;
}
