/* NAV BAR */

.navbar{
	width: 100%;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: flex-start; 
	background-color: #8095E1;
}

.nav-logo{
	display: flex;
    flex-direction: row;
	max-width: 5%;
	padding-left: 1%;
	padding-right: 1%;
}

.nav-tab{
	display: flex;
    flex-direction: row;
	padding: 2%;
    gap: 2vw;
    margin-right: 4%;
}

.nav-text{
	display: flex;
    flex-grow: 1;
	color: white;
    flex-direction: row;
    font-size: clamp(10px, 1.2vw, 16px);
	font-family: Roboto Mono;
	font-style: italic;
    margin-left: 2%;
}

.nav-tab a{
	text-decoration: none;
	color: white;
	transition: transform 0.3s ease;
    font-size: clamp(10px, 1.2vw, 16px);
    padding: 2%;
}

.nav-tab a:hover{
	transform: scale(1.15);
}

.nav-logo img{
	max-width: 100%;
	transition: transform 0.3s ease;
}

.nav-logo img:hover{
transform: scale(1.15);
}

/* BANNER */

.banner-container {
        
  position: relative;
  width: 100%;     
  height: 50%;
  margin-bottom: 50%;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ABOUT */

#about{
    padding: 2%;
}

#about h1{
    position: relative;
    text-align: left;
    font-size: 4vw;
    margin-right: 25%;
    margin-left: 10%;
    color: #6a8dff;
    mix-blend-mode: multiply;
    font-family: Roboto Mono;
}

.bio-header{
    font-family: Roboto Mono;
    font-style: bold;
    font-weight: 650;
}

#about p{
    font-size: 1.2vw;
    margin-left: 25%;
    margin-right:10%;
    margin-top: 15%;
    color: #6F73E1;
    line-height: 1.8vw;
    
}

#author-img {
    width: 40vw;
    margin-top: -38%;
    z-index: -1;
    margin-left: 25%;
}

/* EXPERIENCES */

#experiences-head{
    position: relative;
    text-align: left;
    white-space: nowrap;
    margin-left: 25%;
    margin-right: 1%;
    font-size: 4vw;
    color: #6a8dff;
    mix-blend-mode: multiply;
    font-family: Roboto Mono;
}

.small-card-container{
    width: 100%;
    position: relative;
    min-height: 200vh;
    background-image: url('assets/projects/project.png');
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
    border-radius: 96px;
}

.small-card-container .company-logo{
    max-width: 15%;
    padding: 2%;
}

.small-card img{
    max-width: 85%;
    align-self: center;
    margin-top: 5%;
    border-radius: 42px;
}

#experiences{
    margin-bottom: 10vh;
}

#experiences p{
    font-size: 1.2vw;
    margin-left: 5%;
    margin-right:25%;
    color: #6F73E1;
    line-height: 1.8vw;

}

.small-card{
    position: sticky;
    top: 8vh;
    background-color: #7B7BE0;
    width: 50%;
    height: 75vh;
    margin: 0 auto;
    border-radius: 42px;
    padding: 2vw;
    font-size: 150%;
    margin-bottom: 15vh;
    margin-top: 10vh;

}

.small-card .flex-column {
    align-items: flex-start; 
    text-align: left;
}

.blue-card{
    color: rgb(55, 53, 116);
    background-color: rgb(165, 164, 255);
    box-shadow: 0 0 15px rgba(64, 63, 121, 0.295);
}

.purple-card{
    color: rgb(76, 38, 107);
    background-color: rgb(214, 164, 255);
    box-shadow: 0 0 15px rgba(121, 82, 153, 0.384);
}

.pink-card{
    color: rgb(88, 24, 80);
    background-color: rgb(255, 164, 243);
    box-shadow: 0 0 15px  rgba(136, 71, 127, 0.432);
}

.peach-card{
    color: #5e192e;
    background-color: #ffa4bf;
    box-shadow:  0 0 15px  #753b4d6e;
}

.small-card li{
    margin-top: 3%;
    font-size: 85%;
    margin-right: 3%;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.small-card h2{
    font-size: 125%;
}

.exp-title{
    font-size: 80%;
    padding-left: 5%;
}

/* SKILLS */

#skills-head{
    position: relative;
    text-align: left;
    font-size: 4vw;
    color: #6a8dff;
    mix-blend-mode: multiply;
    font-family: Roboto Mono;
}

.carousel {
    margin: 5vh auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    overflow: visible;
    margin-bottom: 15%;
}

.carousel-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 25s infinite linear;
    padding-right: 1em;
}

.carousel-card {
    flex: 0 0 auto;   
    width: 26vw;
    max-width: 420px;

    height: 50vh;
    padding: 2em;
    border-radius: 42px;
    box-shadow: 0 25px 42px rgba(0,0,0,0.15);

    margin: 0 0.75em;
    transition: transform 0.35s ease, margin 0.35s ease;
}

.carousel-card h2{
    font-size: 200%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: clamp(1.5rem, 1.2vw, 1.8rem);
}

.carousel-card ul{
    font-size: 150%;
    padding-left: 10%;
    padding-right: 2%;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
}

.carousel-card:nth-child(1){
    color: rgb(55, 53, 116);
    background-color: rgb(165, 164, 255);
}

.carousel-card:nth-child(2){
    color: rgb(76, 38, 107);
    background-color: rgb(214, 164, 255);
}

.carousel-card:nth-child(3){
    color: rgb(88, 24, 80);
    background-color: rgb(255, 164, 243);
}

.carousel-card:nth-child(4){
    color: #5e192e;
    background-color: #ffa4bf;
}

.carousel:hover .carousel-group {
    animation-play-state: paused;
}

.carousel-card:hover {
    transform: scale(1.03);
    z-index: 10;
    margin: 0 2em;
}

ul li {
    margin-bottom: 18px;
}

/* FOOTER */

.footer{
	display: flex;
    flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    gap: 1vw;
    color: #284191;
    background: #cfdaff;
}


hr.solid {
	width: 100%;
	border: none;
	border-top: 2px solid #284191; 
	margin: 0.25rem 0;
}

.footer a{
    text-decoration: none;
	transition: transform 0.3s ease;
    font-size: clamp(10px, 1.2vw, 16px);
    color: #284191;
    padding: 1%;
}

.footer ul{
    padding: 1%;
    margin-top: 0%;
    list-style: none;
    font-size: clamp(10px, 1.2vw, 16px);
    padding-top: 2%;
    
}

.footer .flex-column{
    width: 100%;
    text-align: left;
    align-items: flex-start;
    padding: 2%;
}

.footer h2{
    margin-bottom: 1%;
}

.footer > .flex-column:nth-child(1) {
    width: 150%;
}

.author-tag{
    font-size: clamp(32px, 64px, 64px);
    margin-top: 5%;
    font-family: Roboto Mono;
}

.footer a:hover{
	transform: scale(1.15);
}
