/* NAV BAR */

.navbar{
	width: 100%;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: flex-start; 
	background-color: #8095E1;
}

.nav-logo{
	display: flex;
    flex-direction: row;
	max-width: 5%;
	padding-left: 1%;
	padding-right: 1%;
}

.nav-tab{
	display: flex;
    flex-direction: row;
	padding: 2%;
    gap: 2vw;
    margin-right: 4%;
}

.nav-text{
	display: flex;
    flex-grow: 1;
	color: white;
    flex-direction: row;
    font-size: clamp(10px, 1.2vw, 16px);
	font-family: Roboto Mono;
	font-style: italic;
    margin-left: 2%;
}

.nav-tab a{
	text-decoration: none;
	color: white;
	transition: transform 0.3s ease;
    font-size: clamp(10px, 1.2vw, 16px);
    padding: 2%;
}

.nav-tab a:hover{
	transform: scale(1.15);
}

.nav-logo img{
	max-width: 100%;
	transition: transform 0.3s ease;
}

.nav-logo img:hover{
transform: scale(1.15);
}

/* BANNER */

.banner-container {
  position: relative;
  width: 100%;     
  height: 50%;
  margin-bottom: 50%;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ABOUT */

#about{
    padding: 2%;
}

#about h1{
    position: relative;
    text-align: left;
    font-size: 4vw;
    margin-right: 25%;
    margin-left: 10%;
    color: #6a8dff;
    mix-blend-mode: multiply;
    font-family: Roboto Mono;
}

.bio-header{
    font-family: Roboto Mono;
    font-style: bold;
    font-weight: 650;
}

#about p{
    font-size: 1.3vw;
    margin-left: 25%;
    margin-right:10%;
    margin-top: 15%;
    color: #6F73E1;
    line-height: 1.8vw;
    
}

#author-img {
    width: 40vw;
    margin-top: -38%;
    z-index: -1;
    margin-left: 25%;
}

/* EXPERIENCES */

#skills-head{
    position: relative;
    text-align: left;
    font-size: 4vw;
    color: #6a8dff;
    mix-blend-mode: multiply;
    font-family: Roboto Mono;
}

.carousel {
    margin: 5vh auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    overflow: visible;
}

.card-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 60s infinite linear;
    padding-right: 1em;
}

.small-card {
    flex: 0 0 auto;   
    width: 26vw;
    max-width: 420px;

    height: 50vh;
    padding: 2em;
    border-radius: 42px;
    box-shadow: 0 25px 42px rgba(0,0,0,0.15);

    margin: 0 0.75em;
    transition: transform 0.35s ease, margin 0.35s ease;
}


.small-card ul{
    font-size: 150%;
    padding-left: 10%;
    padding-right: 2%;
}

.small-card:nth-child(1){
    color: rgb(55, 53, 116);
    background-color: rgb(165, 164, 255);
}

.small-card:nth-child(2){
    color: rgb(76, 38, 107);
    background-color: rgb(214, 164, 255);
}

.small-card:nth-child(3){
    color: rgb(88, 24, 80);
    background-color: rgb(255, 164, 243);
}

.small-card:nth-child(4){
    color: #5e192e;
    background-color: #ffa4bf;
}

.carousel:hover .card-group {
    animation-play-state: paused;
}

.small-card:hover {
    transform: scale(1.03);
    z-index: 10;
    margin: 0 2em;
}

.small-card li {
    margin-bottom: 18px;
}