html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-timeline-name: --page-scroll;
  scroll-timeline-axis: block;
}

body {
  margin: 0;
  padding: 0;
	background-color: #cfdaff;
	font-family: Montserrat;
  box-sizing: border-box;
}

.card{
  background-color: white;
	width: 100vw;
	height: 100%;	
  display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top:0;
  border-radius: 45px;
}

#card1{
  animation: fade-out linear both;
  animation-timeline: --page-scroll;
  animation-range: 0% 40%;
  background-color: #CFDAFF;
}

#card2{
  	box-shadow: 0 20px 42px black;
}

.border{
    border-style: solid;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
	align-items: center;
}
