html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-timeline-name: --page-scroll;
  scroll-timeline-axis: block;
}

body {
  margin: 0;
  padding: 0;
	background-color: #cfdaff;
	font-family: Montserrat;
  box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i0.wp.com/css-tricks.com/wp-content/uploads/2022/11/tv-static.jpg?fit=1200%2C675&ssl=1&resize=350%2C200");
    
    opacity: 0.09; 
    z-index: 9999; 
    pointer-events: none;

}

.card{
  background-color: white;
	width: 100vw;
	height: 100%;	
  display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top:0;
  border-radius: 45px;
}

#card1{
  animation: fade-out linear both;
  animation-timeline: --page-scroll;
  animation-range: 0% 60%;
  background-color: #CFDAFF;
    overflow: hidden;
    border-radius: 0px;
}

#card2{
  	box-shadow: 0 0 42px #212b4e8a;
    background-color: #ffebf9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.border{
    border-style: solid;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
	align-items: center;
  gap: 0.5rem;
}

