
.navbar{
	width: 100%;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: flex-start; 
	background-color: #8095E1;
}

.nav-logo{
	display: flex;
    flex-direction: row;
	max-width: 5%;
	padding-left: 1%;
	padding-right: 1%;
}

.nav-tab{
	display: flex;
    flex-direction: row;
	padding: 2%;
    gap: 2vw;
    margin-right: 4%;
}

.nav-text{
	display: flex;
    flex-grow: 1;
	color: white;
    flex-direction: row;
    font-size: clamp(10px, 1.2vw, 16px);
	font-family: Roboto Mono;
	font-style: italic;
    margin-left: 2%;
}

.nav-tab a{
	text-decoration: none;
	color: white;
	transition: transform 0.3s ease;
    font-size: clamp(10px, 1.2vw, 16px);
    padding: 2%;
}

.nav-tab a:hover{
	transform: scale(1.15);
}

.nav-logo img{
	max-width: 100%;
	transition: transform 0.3s ease;
}

.nav-logo img:hover{
transform: scale(1.15);
}