
body {
    margin: 0;
    padding: 0;
	background-color: #cfdaff;
	font-family: Montserrat;
}

.navbar{
	width: 100%;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between; 
	background-color: #8095E1;
}

.nav-logo{
	display: flex;
    flex-direction: row;
	max-width: 5%;
	padding-left: 1%;
	padding-right: 1%;
}

.nav-tab{
	display: flex;
    flex-direction: row;
	gap: 50px;
	padding: 1%;

}

.nav-text{
	display: flex;
	color: white;
    flex-direction: row;
	margin-right: 45%;
	font-family: Roboto Mono;
	font-style: italic;
}

.nav-tab a{
	text-decoration: none;
	color: white;
	transition: transform 0.3s ease;

}

.nav-tab a:hover{
	transform: scale(1.15);
}


.nav-logo img{
	max-width: 100%;
	transition: transform 0.3s ease;
}

.nav-logo img:hover{
transform: scale(1.15);
}

.banner-container {
  position: relative;
  width: 100%;     
  height: 500px;
  
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;     
}

#arc{
	animation: float1 4s ease-in-out infinite;
}

#circle{
	animation: float2 4s ease-in-out infinite;
}

.card{
	width: 100%;
	height: 100vh;	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: sticky;
	top:0;


}

.card#card-1{
	background: white;

}

.card#card-2{
	background: white;
	border-radius: 48px;
	box-shadow: 0 20px 42px black;

}

#author-img{
	max-width: 25%;
}

@keyframes float1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px); 
  }
  100% {
    transform: translateY(0px);   
  }
}

@keyframes float2 {
  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(-0px); 
  }
  100% {
    transform: translateY(-25px);   
  }
}