
.float1{
	animation: float1 4s ease-in-out infinite;

}

.float2{
	animation: float2 4s ease-in-out infinite;

}

.float3{
	animation: float3 4s ease-in-out infinite;

}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.bold{
    font-weight: 650;
  	font-style: bold;
}

.italic{
  font-style: italic;
}

.small{
  font-size: 85%;
}

@keyframes spin{
  from{translate: 0;}
  to{translate: -100%;}
}

@keyframes float1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-45px); 
  }
  100% {
    transform: translateY(0px);   
  }
}

@keyframes float2 {
  0% {
    transform: translateY(-45px);
  }
  50% {
    transform: translateY(-0px); 
  }
  100% {
    transform: translateY(-45px);   
  }
}

@keyframes float3 {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-0px); 
  }
  100% {
    transform: translateY(-15px);   
  }
}